* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 60vw;
}

header {
    margin: 100px auto;
    width: 1000px;
    height: 200px;
    background-image: url(../images/design1_image1.jpg);
    background-size: cover;
    background-position: 0 50%;
}

h1 {
    display: inline;
    font-style: italic;
    position: relative;
    bottom: 64px;
    font-size: 3.5em;
}
nav {
    display: inline-block;
    margin-left: 30px;
}

nav > a {
    padding: 4px 10px;
    background-color: rgb(88, 88, 231);
    border: 2px solid black;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.849);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.25em;
    position: relative;
    bottom: 52px;
}

nav>a[href="#"]{
    background-color: rgb(65, 160, 65);
}

.home, .about {
    margin-right: 8px;
}

main{
    width: 1000px;
    margin: auto;
}

section {
    position: relative;
}

h2 {
    width: 100%;
    position: relative;
    bottom: 466px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-size: 28px;
}

.about-section>h2 {
    bottom: 516px
}

.logo { 
    position: relative;
    width: 150px;
    left: 30px;
    bottom: 235px;
}

.about-section>.logo{
    bottom: 284px;
}

article{
    position: relative;
    bottom: 420px;
    left: 240px;
}

.about-section>article {
    position: relative;
    bottom: 470px;
    left: 220px;
    width: 680px;
}

h4 {
    font-size: 22px;
    font-style: italic;
}
p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 17px;
}

.about-section>article>p{
    margin-bottom: 20px;
    margin-left: 0;
    text-indent: 25px;
}

.about-section>article>h4 {
    font-style: normal;
}

.img-2 {
    position: relative;
    top: 200px;
    width: 550px;
    box-shadow: 2px 2px 5px black;
    left: 75px;
}

.about-section>.img-2{
    top: 350px;
}