* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    row-gap: 17px;
}

h1 {
    width: 90%;
    margin: 0px auto;
    padding: 23px 0 0 0;
    text-align: center;
    letter-spacing: 4.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(170, 170, 170, 0.788);
    cursor: default;
}

nav {
    width: 90%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

nav>a {
    border: none;
    padding: 6px 15px;
    border-radius: 30px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 129, 85);
    box-shadow: 2px 2px 3px rgba(150, 150, 150, 0.761);
}

nav>a[href="#"] {
    background-color: rgb(245, 255, 105);
    color: rgb(68, 68, 68);
}

.banner{
    display: flex;
    justify-content: center;
}

.banner>img { 
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0% 40%;
    opacity: 0.3;
    transition: transform 0.5s ease;
}

.banner>img:hover { 
    transform: scale(1.01);
    opacity: 0.35;
}

main {
    width: 80%;
    margin: 20px auto 20px;
    display: flex;
}

section{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(150, 150, 150, 0.761);
    letter-spacing: 0.5px;
    background-color: rgb(245, 255, 105);
    cursor: default;
}

section>img{
    width: 200px;
    margin: 15px 0;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(150, 150, 150, 0.761));
    filter: drop-shadow(2px 2px 2px rgba(150, 150, 150, 0.761));
    transition: 0.5s ease;
}

section>img:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(245, 255, 105, 0.671));
    filter: drop-shadow(2px 2px 2px rgba(245, 255, 105, 0.671));
    transition: 0.5s;
}

article {
    width: 70%;
    margin-top: 15px;
    border-radius: 30px;
    padding: 40px;
    border: 1px solid rgba(150, 150, 150, 0.219);
    box-shadow: 2px 2px 3px rgba(150, 150, 150, 0.761);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-article{
    align-items: center;
}

.contact-article>img{
    width: 50px;
}

h4 {
    letter-spacing: 2px;
    font-size: 18px;
}

p{
    margin: 6px 0 16px 20px;
}

p[class="linea"]{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.664);
}

.about-article>p{
    text-indent: 15px;
    margin-left: 0;
}

.contact-article>p{
    margin-bottom: 0;
}

.article-tittle {
    text-align: center;
    font-size: 25px;
}

.article-text {
    text-align: center;
}

.italic {
    font-style: italic;
    margin: 0;
    font-size: 18px;
}

.bottom {
    margin-bottom: 20px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: auto;
    margin: 10px 0 30px 0;
}

caption{
    padding: 10px;
    background-color: rgba(177, 166, 166, 0.205);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    letter-spacing: 15px;
    font-weight: 500;
}

th{
    background-color: rgb(53, 129, 85);
    color: white;
}

tbody tr:nth-child(even){
    background-color: rgba(245, 255, 105, 0.671);
}

tbody tr:nth-child(odd), thead tr, tfoot tr{
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

.schedule-article {
    height: fit-content;
}

.en-linea>h5>a{
    text-decoration: none;
    font-weight: 400;
}

.venue{
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.maps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

iframe{
    width: 40%;
    height: 40%;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
}

.registrarion-article>h4 {
    font-size: 22px;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
}

fieldset{
    border-color: rgba(245, 255, 105, 0.671);
    border-style: dashed;
    padding: 10px;
    margin-bottom: 30px;
}

legend{
    margin: 5px;
    padding: 5px 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    border-radius: 30px;
    background-color: rgba(245, 255, 105, 0.671);
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
}

.names>input{
    width: 231.5px;
}

.names>input, .city>input {
    background-color: rgba(207, 207, 207, 0.404);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
    border-color: transparent;
    padding: 0 5px;
    margin-bottom: 10px;
}

.grades{
    display: flex;
    align-items: baseline;
}

.grades>input{
    margin-left: 10px;
}

#street_address{
    width: 520px;
    background-color: rgba(207, 207, 207, 0.404);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
    border-color: transparent;
    padding: 0 5px;
    margin-bottom: 10px;
}

.city>input {
    width: 258.5px;
}

.birth{
    display: flex;
    align-items: baseline;
}

.birth>input{
    margin: 0 10px;
}

.grades>p{
    margin:0;
}

fieldset>h6{
    margin: 10px 0;
}

.position>input, .grades>input{
    margin-right: 4px;
}

.position>label{
    margin-right: 20px;
}

.uniform{
    display: flex;
    gap: 30px;
}

.uni-1, .uni-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.uni-1>input, .uni-2>input{
    align-self: flex-start;
}

.uni-1>label, .uni-2>label{
    margin-left: 20px;
    position: relative;
    bottom: 15px;
}

fieldset>p{
    margin: 10px 2px;
    text-align: justify;
}

.signature{
    margin-top: 35px;
    margin-bottom: 10px;
}

.signature>input {
    width: 415.5px;
    background-color: rgba(207, 207, 207, 0.404);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
    border-color: transparent;
    padding: 0 5px;
    margin-bottom: 10px;
}

.submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
    background-color: rgb(245, 255, 105);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
    border-color: transparent;
    padding: 5px 20px;
    transition: transform 0.5s ease;
}

.submit:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(53, 129, 85);
    transition: 0.5s;
}


.fecha {
    text-align: center;
}

h5 {
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-bottom: 7px;
}

span{
    font-weight: lighter;
    margin-left: 5px;
}

.move {
    margin-top: 35px;
}

.en-linea {
display: flex;
justify-content: space-between;
}

.policies-article>h5{
    margin-bottom: 20px;
}

.policies-article>p{
    margin-left: 0;
}

.ol-list{
    margin-bottom: 20px;
    list-style-position: inside;
}

.ol-list::marker {
    font-weight: bold;
}

ol>li:not(span) {
    font-weight: 400;
}

li>span {
    font-weight: bold;
}

li>span{
    text-transform: uppercase;
    font-weight: 700;
}

.indent {
    text-indent: 50px;
}

ul>li{
    margin-left: 50px;
    text-indent: 0;
    list-style: circle;
    list-style-position: inside;
}

.gallery-article{
    align-items: center;
}

.gallery-article>img{
    width: 500px;
    margin: 30px 0;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.432);
    border-radius: 10px;
}

footer {
    margin: 60px;
    padding: 5px;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 3px;
    border-top: 1px solid rgba(150, 150, 150, 0.219);
}